
.casestudysection{
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 2em;
    background-color: #0B0A0D;
}

.casestudysection h1{
    color: white;
}

.casestudysection h2{
    color: white;
}

.casestudysection h3{
    color: white;
}

.casestudysection h4{
    color: white;
}

.casestudysection p{
    color: white;
}

@media (max-width: 576px) {
    .casestudysection{
        margin-left: 0em;
        margin-right: 0em;
        padding: 0em;
        background-color: #0B0A0D;
    }
}

