

  .list {
    color: #555;
    font-size: 12px;
    padding: 0 !important;
    width: 300px;
    font-family: courier, monospace;
    border: 1px solid #dedede;
    align-self: center;
  }
  .list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-align: left;
    text-indent: 5px;
    height: auto;
    padding: 5px;
    text-transform: capitalize;
  }

  .lines {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height: 100px;
    margin-left: 40px;
  }