h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--HeadingFont);
}

p{
    font-family: var(--ContentFont);
}



.nav-link h2 {
  font-family: var(--DecorationFont);

}


#typedtext {
    font-family: var(--HeadingFont);
    font-size: 3.5em;
    letter-spacing: 4px;
    font-weight: bold;
    line-height: 1.8em;
  }

  @media (max-width: 576px) {
    #typedtext {
      font-family: var(--HeadingFont);
      font-size: 1.2em;
      letter-spacing: 3px;
      font-weight: bold;
      line-height: 1.8em;

    }

  }
  
.circledtext {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    background: #000;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.circledtext:hover {
    color: #ccc;
    text-decoration: none;
    background: #333
}

li.borderless{
border: none;
  }



.problemsectionpara {
    font-size: 1.5em;
}

.btn {
    font-size: 5em;
}

p {
    letter-spacing: 0.05em;
    line-height: 2em;
    font-size: 1.3em;
}

#contact {
    font-size: 1.15em;
}

blockquote {
    background: #2B2D2F;
    ;
    border-left: 10px solid #ccc;
    padding: 1em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
    color: white;
    margin-top: 1.2em;
}

blockquote:before {
    color: whitesmoke;
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: whitesmoke;
    content: close-quote;
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

blockquote a {
    color: #00A2ED;
}

.display-4 {
    font-weight: bolder;
}

p b {
    font-size: 1.1em;
}

.sticky {
    font-family: var(--DecorationFont);
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-right: 2em;
    min-height: 130px;
    padding: 1em;
    max-width: 350px;
} 

.carousel-caption {
    border-radius: 4px;
    background: #2B2D2FD9;
    padding: 0em;
    color: white;
    font-weight: bolder;
}

.carousel-caption h5 {
    margin-top: 10px;
}

.prototypecarouselimage {
    width: 80vw;
    height: 120vh;
}




.wiredcardp {
    font-family: var(--DecorationFont);
    font-size: 3.21em;
    font-weight: bolder;
    line-height: 1.8em;
    color: black;
    text-align: center;
} 



 .stickynav {
    font-family: var(--DecorationFont);
    text-align: center;
    margin: 2em;
    transition: all .2s ease-in-out;
    min-width: 300px;
    min-height: 200px;
} 

.casestudystickyp{
    font-family: var(--DecorationFont);

}

/* Handling sizes small*/

@media (max-width: 576px) {
    h1 {
        font-size: 2em;
        text-align: center;
    }
    h2 {
        font-size: 1.1em;
        text-align: center;
    }
    h3 {
        font-size: 1em;
        text-align: center;
    }
    .problemsectionpara {
        font-size: 1em;
    }
    blockquote {
        font-size: 0.8em;
    }
    .display-4 {
        font-weight: bold;
        font-size: 2em;
    }
    p {
        letter-spacing: 0.05em;
        line-height: 1.75em;
        font-size: 1.15em;
        text-align: center;
    }
    p b {
        font-size: 1.1em;
    }
    section {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        margin-left: 0.2em;
        margin-right: 0.2em;
        padding: 0.8em;
    }

    .sticky {
        font-family: var(--DecorationFont);
        font-size: 1em;
        min-height: 130px;
        padding: 1.5em;
        max-width: 350px;
        margin-top: 1.8em;
        margin-bottom: 0.5em;
    } 

    .carousel-caption {
        border-radius: 4px;
        background: #2B2D2FD9;
        padding: 0em;
        color: white;
        font-size: 0.5em;
        font-weight: bolder;
    }
    .carousel-caption h5 {
        margin-top: 10px;
        font-size: 1.2em;
        font-weight: bold;
    }
    .carousel-caption p {
        margin-top: 10px;
        font-size: 0.8em;
    }
    .bodydiv {
        background-image: none;
    }
    .wiredcardp {
        font-size: 2.5em;
        line-height: 1em;
        color: black;
    }
    .navbar-links li {
        margin: 0.2em;
    }
     .stickynav {
        font-family: var(--DecorationFont);
        text-align: center;
        margin: 2em;
        transition: all .2s ease-in-out;
        min-width: 200px;
        min-height: 100px;
    } 
    #contact {
        font-size: 0.94em;
    }

    .casestudystickyp{
        font-family: var(--DecorationFont);
        font-size: 1em;
        text-align: center;
        transition: all .2s ease-in-out;

    }
   
}
/* End  576px */

/* Upto large size navbar will have a background color - i.e. 
smaller devices will have background menu */
@media (max-width: 992px) {
    .navbar-collapse{
        background-color:#CAC2BD;
    }
}

/* Special handling of card width for iPhone5 */

@media (max-width: 320px) {
    .stickynav {
        font-size: 0.6em;
        line-height: 0.9em;
    }

   
} 