/* Fonts */
:root {
    --defaultfont: 'Roboto', 'Open Sans', 'Karla', sans-serif, verdana, consolas, !important;
    --secondaryfont: 'Gloria Hallelujah', 'Roboto', 'Open Sans', 'sans-serif', !important;
    --headingfont: 'Oswald', 'Roboto', 'Open Sans', 'sans-serif', !important;
}

/* Colors */
:root {
    --modalbackgroundcolor: black;
}